.skybook-table{
    margin:5%;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.skybook-table th
{
    text-align: center;
}

.skybook-search{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    padding: 2%;
    background-color: rebeccapurple;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skybook-table table
{
    border-radius: 10%;
}
.skybook-table tr
{
    background-color: ivory;
    opacity: 0.8;
}

.skybook-table tr:hover
{
    background-color: lightgray;
}

.skybook-table button
{
    margin-right: 1rem;
    margin-bottom: 1rem;
    
}

