<div class="container skybook-search">
  <div class="row">
  <div class="col-sm-5 col-lg-5 col-md-5">
  <select   col-sm class="form-control form-control-lg">
    <option value="">Source</option>
          <option *ngFor="let airport of airports"
                  [value]="airport.airportId">
                  {{airport.airportName}}<b>({{airport.airportId}})</b>
          </option>
  </select>
  </div>
  <div class="col-sm-5 col-lg-5 col-md-5">
    <select  col-sm class="form-control form-control-lg">
      <option value="">Destination</option>
          <option *ngFor="let airport of airports"
                  [value]="airport.airportId">
                  {{airport.airportName}}<b>({{airport.airportId}})</b>
          </option>
    </select>
    </div>
    <div class="col-sm-2 col-lg-2 col-md-2">
      <button type="button" class="btn btn-lg btn-warning">
        <i class="fas fa-search"></i>Search</button>
    </div>
    </div>
</div>

<div class="container skybook-table" >
  
    <table datatable id="flight-table" class="table  table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Flight Operator <i class="fas fa-sort" aria-hidden="true"></i></th>
        <th scope="col">Flight No. <i class="fas fa-sort" aria-hidden="true"></i></th>
        <th scope="col">Flight Model <i class="fas fa-sort" aria-hidden="true"></i></th>
        <th scope="col">Departure <i class="fas fa-sort" aria-hidden="true"></i></th>
        <th scope="col"> Arrival <i class="fas fa-sort" aria-hidden="true"></i></th>
        <th scope="col"> Actions</th>

        
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let flight of flights">
        <th scope="row"> 
          {{flight.airlines.airlineName}}
        </th>
        <td>
          {{flight.flightNo}}
        </td>
        <td>
          <i class="fas fa-plane"></i> {{flight.model}}
        </td>
        <td>
          <h3>
            <i class="fas fa-map-marker-alt"></i><b style="color: chocolate;">{{flight.sourceAirport.airportId}}</b></h3><br>
          {{flight.sourceAirport.airportName}}
        </td>
        <td>
          <h3>
            <i class="fas fa-map-marker-alt"></i>
            <b style="color: darkgoldenrod;">{{flight.destinationAirport.airportId}}</b></h3><br>
          {{flight.destinationAirport.airportName}}
        </td>
        <td>
              <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
            <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
        </td>
        
      </tr>
    </tbody>
    </table>
    
  </div>